<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-md-12">

    </div>
  </div>
  <div class="row clearfix">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-4" ng-repeat="book in books">
      <div class="thumbnail">
        <img ng-src="{{book.cover}}" alt="Cover" class="img-responsive"/>

        <div class="caption">
          <h3>{{book.title}}</h3>

          <p>Bla bla bla...</p>

          <p>{{book.price | currency}}</p>

          <p>
            <ngcart-addtocart id="{{book.isbn}}" name="{{book.title}}" price="{{book.price}}" quantity="1"
                              quantity-max="5">Add to Cart
            </ngcart-addtocart>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!--TEMPLATE-->
  <script type="text/ng-template" id="template/ngCart/addtocart.html">
    <div ng-hide="attrs.id">
      <a class="btn btn-lg btn-primary" ng-disabled="true" ng-transclude></a>
    </div>
    <div ng-show="attrs.id">
      <div>
        <span ng-show="quantityMax">
            <label for="quantity"></label><select name="quantity" id="quantity" ng-model="q"
                                                  ng-options=" v for v in qtyOpt"></select>
        </span>
        <a class="btn btn-sm btn-primary" ng-click="ngCart.addItem(id, name, price, q, data)" ng-transclude></a>
      </div>
    </div>
    <span ng-show="inCart()">
        This item is in your cart. <a ng-click="ngCart.removeItemById(id)" style="cursor: pointer;">Remove</a>
    </span>
    <div ng-hide="inCart()" style="padding-bottom: 20px;"></div>
  </script>

</div>
